[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
machinelearning_utils = {editable = true, path = "."}
pyarrow = "*"

[requires]
python_version = "3.8"
